main {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    margin: auto;
}

.box {
    width: 25vh;
    height: 20vh;
    font-size: 15vh;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    
}

h1 {
    text-align: center;
    font-size: 12vh;
    font-family: cursive;
    
}
#player-turn {
    font-size: 10vh;
    text-align: center;
    font-family: cursive;
    
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p1 {
    border: 2px solid black;
}

#p2 {
    border: 2px solid black;
}

.start {
    color:black

}
body {
    background-color: whitesmoke;
}


